.single-card {
  text-align: center;
  width: 180px;
    img {
      height: 180px;
      width: 180px;
      padding: 1.2rem;
      object-fit: cover;
      object-position: -100% 0;
    }
    
    p {
      color: white;
    }
}