#upper-footer {
  height: 450px;
  background-image: url(../img/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  #wrap-foot {
    width: 50%;
  display: flex;

  li {
    text-align: left;
      list-style: none;
      a {
        color: #5A646B;
        font-size: 0.7rem;
      text-decoration: none;
    }
  }
  }
  #first-col {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      flex-direction: column;
    }
  }
}

#bottom-footer {
  height: 100px;
  background-color: #303030;
  img {
    height: 20px;
    padding: 0 10px;
  }
}
.wrapper {
    height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h6 {
  color: white;
  padding-bottom: 1.2rem;
}

ul {
  // display: flex;
  // flex-direction: column;
  // margin: 10px 0;
  
  li {
    text-align: left;
      list-style: none;
      a {
        color: #5A646B;
        font-size: 0.7rem;
      text-decoration: none;
    }
  }
}

#button {
  padding: 5px 10px;
  border: 2px solid #0082f9;
  a {
      color: white;
        text-decoration: none;
    }
}

#logo-dc {
  img {
    overflow: auto;
  }
}