* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #596597;
  text-decoration: none;
}

body {
  background-color: #000;
  min-height: 100vh;
}