header {
  height: 140px;
  background-color: white;

  #top-header {
    height: 40px;
    background-color: dodgerblue;
    .container {
      height: 100%;
    }
    span {
      color: white;
      font-size: 0.5rem;
      padding-right: 0.5rem;
    }
    #wrap-head {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
  }
  }
  #nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      border: none;
    }
  }
  
  img {
    height: 50px;
  }
  
  
  ul {
    li {
      display: inline-block;
      a {
        color: #5A646B;
        margin: 0 10px;
      }
    }
  }
}