#content {
  color: white;
  display: flex;
  align-items: center;
}

#comics {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 6);
}

#blue-content {
  background-color: #0082f9;
  height: 100px;
  display: flex;
  align-items: center;
}

#merchandising {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }
  img {
    height: 40px;
  }
}

#top-jumbotron {
  height: 400px;
  background-image: url(../img/jumbotron.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}