#single-comic {
    background-color: white;
    height: 300px;
    .container {
        display: flex;
        .col-left {
            flex-basis: 50%;
        }
        .col-right {
            flex-basis: 50%;
        }
    }
    .green-table {
        height: 50px;
        background-color: lightgreen;
        display: flex;
        .price {
            flex-basis: 70%;
        }
        .available {
            flex-basis: 30%;
        }
    }
}