* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #596597;
  text-decoration: none;
}

body {
  background-color: #000;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

.main-color {
  color: #0082f9;
}

.main-text {
  color: #5a646b;
}

header {
  height: 140px;
  background-color: white;
}
header #top-header {
  height: 40px;
  background-color: dodgerblue;
}
header #top-header .container {
  height: 100%;
}
header #top-header span {
  color: white;
  font-size: 0.5rem;
  padding-right: 0.5rem;
}
header #top-header #wrap-head {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
header #nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #nav input {
  border: none;
}
header img {
  height: 50px;
}
header ul li {
  display: inline-block;
}
header ul li a {
  color: #5A646B;
  margin: 0 10px;
}

#content {
  color: white;
  display: flex;
  align-items: center;
}

#comics {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 16.6666666667%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#blue-content {
  background-color: #0082f9;
  height: 100px;
  display: flex;
  align-items: center;
}

#merchandising {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#merchandising a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
#merchandising img {
  height: 40px;
}

#top-jumbotron {
  height: 400px;
  background-image: url(../img/jumbotron.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#upper-footer {
  height: 450px;
  background-image: url(../img/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#upper-footer .container {
  display: flex;
  align-items: center;
  height: 100%;
}
#upper-footer #wrap-foot {
  width: 50%;
  display: flex;
}
#upper-footer #wrap-foot li {
  text-align: left;
  list-style: none;
}
#upper-footer #wrap-foot li a {
  color: #5A646B;
  font-size: 0.7rem;
  text-decoration: none;
}
#upper-footer #first-col {
  display: flex;
  flex-direction: column;
}
#upper-footer #first-col li {
  display: flex;
  flex-direction: column;
}

#bottom-footer {
  height: 100px;
  background-color: #303030;
}
#bottom-footer img {
  height: 20px;
  padding: 0 10px;
}

.wrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h6 {
  color: white;
  padding-bottom: 1.2rem;
}

ul li {
  text-align: left;
  list-style: none;
}
ul li a {
  color: #5A646B;
  font-size: 0.7rem;
  text-decoration: none;
}

#button {
  padding: 5px 10px;
  border: 2px solid #0082f9;
}
#button a {
  color: white;
  text-decoration: none;
}

#logo-dc img {
  overflow: auto;
}

.single-card {
  text-align: center;
  width: 180px;
}
.single-card img {
  height: 180px;
  width: 180px;
  padding: 1.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -100% 0;
     object-position: -100% 0;
}
.single-card p {
  color: white;
}

#single-comic {
  background-color: white;
  height: 300px;
}
#single-comic .container {
  display: flex;
}
#single-comic .green-table {
  height: 50px;
  background-color: lightgreen;
  display: flex;
}
#single-comic .green-table .price {
  flex-basis: 70%;
}
#single-comic .green-table .available {
  flex-basis: 30%;
}